html{
    width: 100vw;
}
body{
    background-color: #ffe7de;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    width: 95vw;
    height: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

div{
    margin-left: 0;
    margin-right: 0;
    /*padding-bottom: 3px;*/
}

p{
    text-align: center;
}

.first{
    position: relative;
    height: 100vh;
    min-width: fit-content;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.second{
    position: relative;
    height: 100vh;
    width: 95%;
    left: 50%;
    margin: 0px;
    transform: translateX(-50%);
}

.main{
    width: 100%;
}

.main img{
    max-height: 100%;
    max-width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.greeting{
    position: absolute;
    width: 50%;
    height: fit-content;
    max-width: fit-content;
    right: 50%;
    top: 7%;
    opacity: 1;

    bottom: 75%;

    border-radius: 30px;
    display: inline-block;
    z-index: 2;
    background-color: #4bcfff;
}

.greeting p{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: -5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-family: newFont;
}

@keyframes DownAppear{
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

@media (prefers-reduced-motion: no-preference){
    .appearDown{
      animation-name: DownAppear;
      animation-duration: 2s;
    }
}

.more{
    margin-top: 30px;
    max-width: 90%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.more p{
    font-family: newFont;
}

.timerBlock{
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.timer{
    height: max-content;
    min-width: fit-content;
    max-width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.timer p{
    font-family: newFont;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: large;
}

@keyframes LeftAppear{
    0%{
        opacity: 0;
        transform: translateX(-300%);
    }
    100%{
        opacity: 1;
        transform: translateX(-50%);
    }
}

@media (prefers-reduced-motion: no-preference){
    .appearLeft{
        animation-name: LeftAppear;
        animation-duration: 2s;
    }
}

.buyCourse {
    display: none;
}

.infoLeft {
    background-color: transparent;
    width: 75%;
    left: 50%;
    padding: 1px 10px;
    margin: 10px 0px;
    transform: translateX(-50%);
    position: relative;
    border-radius: 30px;
    border: #ff4600 3px solid;
}

.infoLeft p{
    font-family: newFont;
    color: #ff4600;
    padding: 0px 5px;
}

.info{
    top: 2%;
    position: relative;
    width: 95%;
    margin: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.opacity0 {
    opacity: 0;
}

@font-face {
    font-family: newFont; /* Гарнитура шрифта */
    src: url("/fonts/MusticaproSemibold.otf"); /* Путь к файлу со шрифтом */
}